<div class="row">
<div class="col-md-6">
	<div class="panel panel-default">
   		 <div class="panel-heading">Recent Blogs</div>
         <div class="panel-body" style="min-height: 60%; max-height: 60%;">
			<div data-sly-resource="${ @path='par', resourceType='foundation/components/parsys'}"></div>
         </div>
	</div>
</div>
<div class="col-md-6">
	<div class="panel panel-default">
   		 <div class="panel-heading">Popular Blogs</div>
         <div class="panel-body" style="min-height: 60%; max-height: 60%;">
			
         </div>
	</div>
</div>
</div>

