<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
    <h4>Registration form: </h4>
    </div>

  <form class="form-horizontal" action="/bin/blognet/registration.html" method="POST">
     <div class="form-group">
      <label class="control-label col-sm-4" for="name">Name:</label>
      <div class="col-sm-6">          
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="email">Email:</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="pwd">Password:</label>
      <div class="col-sm-6">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
      </div>
    </div>
           <div class="form-group">
      <label class="control-label col-sm-4" for="confirm">Confirm Password:</label>
      <div class="col-sm-6">          
        <input type="password" class="form-control" id="confirm" placeholder="Confirm password" name="confirmPassword">
      </div>
    </div>
           <div class="form-group">
      <label class="control-label col-sm-4" for="gender">Gender:</label>
      <div class="col-sm-6">          
			<label class="radio-inline">
      			<input type="radio" name="gender">Male
    		</label>
    		<label class="radio-inline">
      			<input type="radio" name="gender">Female
    		</label>
          <label class="radio-inline">
      			<input type="radio" name="gender">Other
    		</label>
      </div>
    </div>
           <div class="form-group">
      <label class="control-label col-sm-4" for="dob">DOB:</label>
      <div class="col-sm-6">          
        <input type="date" class="form-control" id="dob" placeholder="Enter password" name="dob">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
