<div class="row">
	<form class="form-horizontal" action="${currentPage.path}/" method="POST">
  		<div class="form-group">
    		<label class="col-sm-offset-1 col-sm-4" for="title">Title</label>
         	 <div class="col-sm-offset-1 col-sm-10">
    			<input type="text" class="form-control" id="title" placeholder="Title" name="jcr:content/title">
          	 </div>
  		</div>
  		<div class="form-group">
    		<label class="col-sm-offset-1 col-sm-4" for="description">Description</label>
        	<div class="col-sm-offset-1 col-sm-10">
    			<textarea class="col-sm-6" class="form-control" id="description" rows="10" name="jcr:content/description"></textarea>
        	</div>
  		</div> 
    	<div class="form-group">
    		<label class="col-sm-offset-1 col-sm-4" for="tags">Tags</label>
        	<div class="col-sm-offset-1 col-sm-10">
    			<input class="form-control" type="text" value="Amsterdam,Washington" name="jcr:content/cq:tags" data-role="tagsinput" />
        	</div>
    	</div>
        <input type="hidden" name="jcr:primaryType" value="cq:Page"/>
        <input type="hidden" name="jcr:content/jcr:primaryType" value="cq:PageContent"/>
         <input type="hidden" name="jcr:content/sling:resourceType" value="blognet/components/blogView"/>
        <input type="hidden" name="jcr:content/cq:template" value="/apps/blognet/templates/blogViewTemplate"/>
        <input type="hidden" name="jcr:content/author" value="${currentSession.userID}"/>
         <input type="hidden" name=":redirect" value="${currentPage.path}.html" />
         <input type="hidden" name="jcr:content/viewCount" value="0" />
        <div class="form-group">        
      		<div class="col-sm-offset-5 col-sm-7">
        		<button type="submit" class="btn btn-default">Submit</button>
      		</div>
    	</div>
</form>
</div>
